html, body, #root {
    height: 100%; /* Asegura que todos los contenedores hereden la altura */
    margin: 0px;
    padding: 0px;
   max-width: 100vw;
       width: 100%
   
}

.page-container {
    display: flex; /* Contenedor Flexbox */
    flex-direction: column; /* Apilar elementos verticalmente */
    min-height: 50vh; /* Ocupar toda la altura de la ventana */
    max-width: 100vw;
    padding: auto;
    margin: 0px;
    align-items: auto;
    background: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    min-height: 100vh;
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    width: 100%
   
}

/* Estilos del menú */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background: linear-gradient(90deg, #311fb9, #076edd);
    padding: 0px 20px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    margin: 0px;
}


.navbar .logo {
    color: #fff;
    font-size: 1.6em;
    font-weight: 100px;
    letter-spacing: 0px;
    margin: 0px;
    padding: 0px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #311fb9
}



.login-btn {
    background-color: #21af0e;
    color: #fff !important;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-btn:hover {
    background-color: #1d8c2e;
    transform: scale(1.05);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background: linear-gradient(135deg, #00b5fd, #08307c);
    color: #fff;
    padding: 4rem 2rem;
    max-width: 100%;
    
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 100%;

}

.hero-image img {
    max-width: 50%;
    height: auto;
    align-items: center;
}

.section {
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
}

.section h2 {
    color: #1e3a8a;
    font-size: 2rem;
}

.paquetes-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.paquete-card {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    width: 200px;
    text-align: left;
}

.app-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #21af0e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.app-btn:hover{
    background-color: #1d8c2e;
    transform: scale(1.05);
}

main {
  flex: 1; /* Empuja el footer hacia abajo */
}


.footer {
    background-color: #1e3a8a;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;

}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
    }
    .nav-links {
        flex-direction: column;
        text-align: center;
    }
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-content p, .hero-image img {
        max-width: 100%;
    }
    .paquetes-container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
}


/*.section {
    padding: 2rem;
    text-align: center;
}

.section h2 {
    color: #1e3a8a;
    font-size: 2rem;
}

.app-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #1e3a8a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.footer {
    background-color: #1e3a8a;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
    }
    .nav-links {
        flex-direction: column;
        text-align: center;
    }
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-content p, .hero-image img {
        max-width: 100%;
    }
}*/

/* ======= Estilos de los Paquetes ======= */
.content-wrapper {
    max-width: 100%; /* Limita el ancho del contenido interno */
    margin: 0 auto;    /* Centra el contenido */
    padding: 10px 0px;   /* Añade un poco de espacio lateral */
}
.paquetes-section {
    padding: 10px 0px;
    background-color: #f9f9f9;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.section-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.section-subtitle {
    color: #666;
    margin-bottom: 40px;
}

.paquetes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: none;
}

.paquete-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 280px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.paquete-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}

.paquete-imagen {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.paquete-nombre {
    font-size: 1.4em;
    color: #007bff;
    margin-bottom: 5px;
}

.paquete-velocidad {
    color: #333;
    font-weight: bold;
}

.paquete-descripcion {
    color: #555;
    font-size: 0.95em;
    margin: 10px 0;
    min-height: 50px;
}

.paquete-precio {
    color: #32b511;
    font-size: 1.2em;
    font-weight: bold;
}

/* ======= estilo de formulario de Contratación ======= */
.contratacion-section {
    background-color: #f8f8ff;
    padding: 50px;
    text-align: center;
}

.contrato-form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    padding-right: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input, select, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
    font-size: 1em;
}

button[type="submit"] {
    background-color: #21af0e;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

button[type="submit"]:hover:enabled {
    background-color: #1d8c2e;
}

/* ======= Estilos del Logo ======= */
.logo img {
    width: 150px;    /* más pequeño */
    margin: 0;       /* quita espacios */
    padding: 0;

}


@media (max-width: 992px) {
    .logo img {
        width: 130px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}


@media (max-width: 600px) {
    .logo img {
        width: 100px;
    }
}

/*seccion ayuda*/
.ayuda-section {
  background-color: #f6f8fa;
  padding: 50px 20px;
  text-align: center;
}

.ayuda-opciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.ayuda-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: left;
}

.reporte-form {
  background: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.reporte-form h3 {
  text-align: center;
  color: #1e3a8a;
  margin-bottom: 20px;
}

/*reportes tikects papapapaplalalalaalpito*/
.filtros-reportes {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
  color: #ffffff;
}

.filtros-reportes button {
  padding: 8px 14px;
  background: #1d9c00;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.filtro-activo {
  background: #007bff;
  color: #ffffff;
}

.estado-tag {
  padding: 4px 10px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 0.85rem;
  text-transform: capitalize;
}

.estado-activo {
  background: #2186ff;
}

.estado-pendiente {
  background: #ffb100;
}

.estado-finalizado {
  background: #28a745;
}

.clientes-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.clientes-table thead {
   background: linear-gradient(90deg,#076edd,#311fb9 );
    color: white;
}
.clientes-table tbody tr:nth-child(even) {
    background-color: #f6f8fa;
}
.clientes-table th, .clientes-table td {
    padding: 12px 15px;
    text-align: left;
}

/* Overlay del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* fondo transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 40px 100px;
}

/* Contenedor del modal */
.modal-content {
  background: white;
  padding: 2px;
  width: 400px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
  text-align: left;
}

/* Botón para cerrar */
.modal-content .close {
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 24px;
  cursor: pointer;
}
